/*****************/
/*     Video     */
/*****************/
.basic-3 {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	padding-right: 5000px;
    
}

.basic-3 .h2-heading {
	margin-bottom: 2.5rem;
	
}

.basic-3 .image-container {
	margin-bottom: 2.5rem;
}

.basic-3 .image-container img {
	border-radius: 8px;
}

.basic-3 .video-wrapper {
	position: relative;
	padding-right: 390px;
	margin-right:200px;
}

/* Video Play Button */
.basic-3 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	
	right:64%;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 44px;
	
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-3 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #00bfd8;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-3 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #00bfd8;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-3 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 6px;
	left: 4px;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #ffffff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */